.questionsCard{
    max-width: 700px;
    width: 100%;
    
}
.questionsCard-title{
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
}
.questionsCard button{
    width: 48%;
    height: 40px;
    font-size: 17px;
    margin: .3rem;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    cursor: pointer;
}
.questionsCard button:hover{
    background-color: black;
    color: white;
}
.questionsCard-timer{
    width: 45px;
    height: 45px;
    font-size: 25px;
    font-weight: bold;
    background-color: black;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}